@model IEnumerable<ECommerceMVC.Models.Product>;
@{
    ViewData["Title"] = "Shopping Cart";
}
<h1>@ViewData["Title"]</h1>

<p>Select your products you wish to purchase</p>

<div class="list-group">
  @foreach (var product in Model)
  {
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">@product.Name</h5>
        <small>
            <span>Each: €</span><span class="unit-price">@product.Price</span>
            <br />
            <span><span>€</span><em class="unit-quantity">@product.Price</em></span>
        </small>
      </div>
      <p class="mb-1">@product.Description</p>
      <p class="product-item">
        <input type="hidden" class="productId" value="@product.Id" /> 
        <label for="quantity">Quantity:</label>
        <input class="quantity form-control-sm" type="number" min="1" value="1">
      </p>
    </a>
  }
</div>
<hr />
<div class="d-flex w-100 justify-content-between">
  <h5 class="mb-1">Total:</h5>
  <strong>€ <span id="totalpurchase">@Model.Sum(item => item.Price)</span></strong>
</div>
<br />
<div class="d-flex w-100 justify-content-between">
  <a class="btn">Continue Shopping</a>
  <button id="submitOrder" class="btn btn-success">Purchase</button>
</div>