@model IEnumerable<ECommerceMVC.Models.Product>
@functions
{    
    public string GetTodaysDate()
    {
        return DateTime.Now.ToString("dddd");
    }
}

<div class="text-center">
    <h1 class="display-4">Deals of the Day!</h1>
    <p>
        <strong>Today's Deals for @GetTodaysDate()</strong>
    </p>
</div>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name Image">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <div class="text-end">
                        <strong class="text-success">
                            @if (@product.Price < 50)
                            {
                                <i class="bi bi-fire text-danger"></i>
                            }
                            € @product.Price
                        </strong>
                    </div>
                </div>
            </div>
        </div>    
    }
</div>

